<div class="logo-container">
  <%= image_tag "ps.png", alt: "Pro Sports Legacy Logo", class: "logo" %>
</div>
<div class="youtube-video-container">
  <iframe title="YouTube Video Player" width="860" height="390" src="https://www.youtube.com/embed/g1U3ubDZIUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="image-container">
  <%= image_tag "underconstruction.png", alt: "Website Under Construction", class: "image" %>
</div>
<div class="container">
  <div class="text-container">
    <h5><strong>Coming Soon...</strong></h5>
  </div>
</div>
